.body{
      background-color: #333;
}
canvas {
    margin-top: -20%;
    margin-left: -2%;
    visibility: visible;
    z-index: -20;
    position: fixed;
  }

.Intro{
      width:20%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-left: 5%;
      color: rgb(34, 147, 120);
      background-color: #333;
      padding: 2%;
      margin-top: 20%;
}
.Intro h1{
     color: rgb(195, 195, 195);
}

.Intro h3{
      margin-left:10%;
}

.Intro ul{
    font-style: normal;
    font-weight: 200;
    text-align: left;
    font-size: 20px;
    color: rgb(34, 147, 120);
}
.inst{
     width: 300px;
}


@media (max-width: 768px) {

      .canvas{
            margin-top: -100%;
             
      }
      .Intro {
        margin-top: 200%;
      }
    
      .Intro h3 {
        margin-left: 5%;
      }
    
      .inst {
        width: 100%;
      }
    }

